<header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
    <h1><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "htbah.sheet.general.name"}}"/></h1>
    <div style="flex: initial;">
        {{localize "htbah.sheet.general.health"}}</br>
        <input type="number" name="data.health.value" value="{{data.health.value}}" min="{{data.health.min}}" max="{{data.health.max}}" data-dtype="Number" />
    </div>
</header>